@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  color: rgb(255, 255, 255);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 90px 15px;
  background-color: black;
  border-bottom: solid 10px rgb(84, 84, 84);
}

#contato {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 0px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 100px;
}
#contato i {
  color: rgb(6, 157, 51);
  padding: 1px;
}

#contato li {
  padding: 10px;
  display: inline-block;
  font-size: large;
}

.avatar {
  float: left;
  padding: 20px 100px;
  width: 144px;
  height: 144px;
}
.avatar img {
  border: none;
  border-radius: 100%;
  width: 100%;
  /*border: solid 10px red;*/
}
.desc {
  display: flex;
  justify-content: center;
  padding: 20px 100px;
}
#descricao,
.redes {
  padding: 20px;
}

.redes ul {
  list-style: none;
}
.redes i,
a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
#descricao a {
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: large;
  border-radius: 10px;
  padding: 5px;
  color: black;
}
#descricao a:hover {
  background-color: rgba(0, 0, 0, 0.929);
  color: aliceblue;
  border: white solid 2px;
}
button a {
  font-size: large;
  text-decoration: none;
  color: black;
}
section.about-me {
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 20px 140px 100px 100px;
  height: 450px;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 200px;
  grid-template-areas:
    '.about .description'
    '.about .description';
}

.description {
  justify-self: end;
  width: 700px;
}
.description .skills {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}
.description .circle {
  display: flex;
  width: 150px;
  height: 150px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.circle i {
  font-size: 50px;
}
.circle p {
  padding: 10px;
}

section h6 {
  text-align: center;
}

.cursos div {
  padding: 0px 15px;
  border-top: none;
  border-bottom: none;
  margin: 10px;
}

.experience {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  color: black;
  border-top: 15px solid gray;
  border-bottom: 10px solid gray;
}
.experience h1 {
  padding: 20px 515px 0 0;
}
.timeline {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.timeline-item {
  padding: 3em 2em 2em;
  position: relative;
  color: rgba(black, 0.7);
  border-left: 5px solid rgb(191, 191, 191);
}

.timeline-item h1::before {
  content: '';
  margin: 0 auto;
  width: 10px;
  height: 10px;
  display: block;
  top: 55px;
  position: absolute;
  left: -9px;
  border-radius: 50%;
  border: 3px solid rgb(160, 160, 160);
  background: white;
}

.education {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-areas: '.education-title .cursos';
  height: 500px;
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 20px 100px;
}

.cursos {
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  width: 500px;
}
.cursos-item {
  width: 200px;
  height: 230px;
  background-color: rgb(252, 219, 74);
  box-shadow: 0px 5px 2px rgb(202, 202, 202);
}

footer {
  display: flex;
  height: 50px;
  background-color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
}
